
li {
    list-style: none;
    float: left;
    display: inline;

}



/* Hero
****************************************************************************
**************************************************************************** */

#hero {
    background-color: cadetblue;
    min-height: 400px;
}

.tagline {

}

/* Profile
****************************************************************************
**************************************************************************** */

#profile {
    background-color: #F5F5F5;
}



/* Experience
****************************************************************************
**************************************************************************** */

#experience {
    background-color: #F3EFE0;
}



/* Ability
****************************************************************************
**************************************************************************** */

#ability {
    background-color: #F5F5F5;
}



/* Projects
****************************************************************************
**************************************************************************** */

#projects {
    background-color: #F3EFE0;
}



/* Contact
****************************************************************************
**************************************************************************** */

#contact {
    background-color: #F5F5F5;
}
